h3{
    color: white;
    font-size: larger;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: #000;
}
.phone a{
    color:#000;
    font-size: 13px;
    font-weight: bold;
}
.reg{
    width: 50%;
    text-align:right;
}
.reg a{
    color:#000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.social-icon{
    display: inline-block;
    width: 50%;

}
.social-icon p{
    display:block;
    width: 100%;

}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: #000;
}
.social-icon p a:hover{
    background: #f8aa02;
    border-color: #f8aa02;
}
.social-icon p a:hover i{
    color:#fff;
}

.bg-color{
    background: #0f0f0ffb;
}
.navbar-brand{
    color:#ffffff;
    font-weight: bold;
    font-size: 35px!important;
}
.nav-link{
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}
.btn-group{
    color: #ffffff;
}
.navbar-toggler i{
    color: #f8aa02;
}


.cart .table{
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
}
.cart .table thead tr th{
    border-top:0px;
    font-size:16px;
    font-weight: bold;
    border-bottom:0px;
}
.cart .table thead tr td{
    padding-top:30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .d-flex{
    padding-right:30px;
}
/*.cart .table tbody tr td .main .d-flex img{*/
/*    border: 2px solid #000;*/
/*    border-radius: 3px;*/
/*}*/
.cart .table tbody tr td .main .des{
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .des p{
    margin-bottom:0px;
}
.cart .table tbody tr td h6{
    font-size:16px;
    color:#000;
    margin-bottom: 0px;
}
.cart .table tbody tr td .counter{
    margin-bottom:0px;
}
.counter i{
    padding: 7px;
    display: inline-block;
    position: relative;
}
.cart .table tbody tr td .counter input{
    width: 100px;
    padding-left:30px;
    height: 40px;
    outline:none;
    box-shadow: none;
}
.checkout ul{
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
}
.checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
}
.checkout ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.checkout ul li.subtotal span{
    font-weight: bold;
}
.checkout ul li.cart-total{
    padding-top: 10px
}
.checkout ul li.cart-total span{
    color:#000000;
}
.checkout ul li span{
    float:right;
}
.checkout .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}
a:hover{
    color: #ffffff;
}