*{
    padding: 0;
    margin: 0;
}

.outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-bar{
    width: 100%;
    height: 80px;
    background-color: #F0EBE3;
}

.inner-1{
    width: 100%;
    height: 100%;

}

.title-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.para-1>p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-outer {
    width: 100%;
    margin: 20px 0 20px 0;
}

.card-inner {
    width: 90%;
    margin: 0 auto; /* Centering the content */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid with minimum item width of 200px */
    grid-gap: 10px; /* Spacing between cards */
}

.card {
    height: 300px; /* Define the height of the cards */
    background-color: #f0f0f0; /* Background color of the cards */
}

.card>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    transition: ease-in 0.2s;
}

.card>img:hover{

    filter: brightness(1);
}


.img-1-des{
    text-align: center;
}

.section-2{
    width: 100%;
    height: 40px;
    background-color: black;
    margin: 20px 0 20px 0;
}